
.intro-text-common {
   
    color: #fff;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;  
    letter-spacing: 2px;
}
.intro-text-1 {
    font-weight: 600;
    font-size: 70px;
    
}
.intro-text-2 {
    font-weight: 500;
    font-size: 30px;  
}

.text-menu{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;  
    display: flex;
    position: absolute;
    padding: 35px 0 0 950px;

  
}
.brand-logo {
    position: absolute;
    display: inline-block;
   padding: 40px 0 0 397px;
    line-height: inherit;
    white-space: nowrap;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
}
.section-about {
    background-color:F5F5F5 ;
    height: 784px;
}
.box {
    position: relative;
    top: 66px;
    left: 396px;
    background-color: #fff;
    height: 654px;
    width: 1110px;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 6%), 0 2px 5px 0 rgb(0 0 0 / 20%);
    

}